<!DOCTYPE html>
<html lang="th">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Act Fest 2015 | 60s 60acts Let's Go Back To The 60s</title>
	<link rel="shortcut icon" href="favicon.ico" />

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">

</head>
<body>
	<section class="result-section offset" id="result_section" style="z-index: 2;">
		<div class="container-fluid" style="background: #ffffff;">
			<div class="row text-center" style="margin: 30px 0 0 0;">
				<img class="img-responsive center-block" src="imgs/actfest_logo.png" width="211" height="211">
			</div>
			<div class="row" style="margin: 15px 0 0 0;">
				<div class="col-md-12 text-center" style="padding: 0 0 0 0;" style="font-size: 24px; line-height: 24px; color: #ea4434;">
					<span class="topic-text">ระบบลงทะเบียนเข้าร่วมงาน</span>
				</div>
			</div>
			<div class="section-header-seperator"></div>

			<div class="row" style="margin-top: 50px; margin-bottom: 50px;" id="recheck_form">
				<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 text-center content-text">
					<form class="">
						<div class="form-group">
							<label for="studentID" class="control-label">รหัสประจำตัวนิสิต (Student ID)</label>
							<input type="text" class="form-control Studentid-input" id="studentID" placeholder="">
						</div>
						<button id='recheck_btn' type='button' class="btn btn-confirm" autocomplete="off">ยืนยัน</button>
					</form>
				</div>
			</div>

			<div class="row" style="margin-bottom: 40px; display: none;" id="recheck_info_container">
				<div class="col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
					<div style="height: 1px; background: #aaa; margin-bottom: 15px; z-index: 0;"></div>
				</div>
				<div class="col-sm-10 col-sm-offset-1 text-center" id="recheck_info">
				</div>
			</div>

		</div>
	</section>

	<footer class="footer">
		<div class="container-fluid">
			<div class="row" style="margin: 15px 0 13px 0;">
				<div class="col-md-10 col-md-offset-1 text-center" style="padding: 0 5% 0 5%;">
					<p class="content-text">
						<img class="img-responsive center-block" src="imgs/sponcer.png" width="544" height="47">
					</p>
				</div>
			</div>
		</div>
	</footer>

	<!-- SCRIPT SECTION -->
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenLite.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/CSSPlugin.min.js"></script>
	<script src="js/pace.min.js"></script>
	<script src="js/index.js"></script>
</body>
</html>
